# ignore compiled python files
*.pyc

# ignore all temporary files (linux-os-specific)
*.*~

# Tex related ignores
Paper/**/*.aux
Paper/**/*.bbl
Paper/**/*.blg
Paper/**/*.dvi
Paper/**/*.log
Paper/**/*.out
Paper/**/*.ps
Paper/**/*.synctex.gz
Paper/**/*.tex.backup
